<div id="topBar"><a href="/hobbyists">Hobbyists</a><p>  </p><a href="/projects">Projects</a></div>

<br>
<h1>Hobbyists</h1>

<% @hobbyists.each do |hobbyist| %>
<p><a href="/hobbyists/<%= hobbyist.id %>"></a><%= hobbyist.name %></p>
<p><%= hobbyist.created_at %></p>
<% end %>